.footer {
	$height: 250px;
	
	padding-top: 20px;
	border-top: 10px solid $main-color;
	
	height: 550px;
	@media (min-width: $screen-sm-min) {
		height: $height;
	}

	background-color: $main-color-light;
	color: white;
	position: relative;

	@include box-shadow(0, 2px, 5px, rgba(#000, .5));

	.logo {
		width: 100%;
		height: 160px;
		background-image: url('../images/Gaia/logo.png');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	ul {
		list-style-type: none;

		li a {
			color: white;

			&:hover {
				color: $gray-darker;
			}
		}

		&.info {
			margin: 0;
			padding-left: 0;

			@media (min-width: $screen-sm-min) {
				padding-left: 40px;
			}

			li {
				text-align: left;

				@media(min-width: $screen-sm-min) {
					width: 200px;	
					float: left;
				}

				@media(min-width: $screen-md-min) {
					width: 200px;
				}

				@media(min-width: $screen-lg-min) {
					width: 250px;
				}
				
				font-size: 20px;

				a {
					display: inline;
					text-decoration: none;
				}

				ul.links {
					padding-left: 10px;
					padding-top: 10px;
					margin-bottom: 20px;

					@media (min-width: $screen-sm-min) {
						margin-bottom: 0; 
					}

					li {
						font-size: 14px;
						margin-top: 3px;

						i.fa {
							margin-right: 8px;
						}

						a {
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	.futura {
		text-align: center;
		background-color: $main-color-darker;
		padding: 10px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		@media (min-width: $screen-sm-min) {
			// margin-top: 40px;
		}

		.futura-cubo {
			font-size: 30px;
			color: white;
			margin-right: 10px;
			vertical-align: top;
			line-height: 22px;
		}

		a {
			color: white;
		}
	}
}
