#dummy-immobile-screen {
	width: 100vw;
	height: 100vh;
	display: block;
}

.imovel {

	.title {
		padding-bottom: 10px;
		border-bottom: 1px solid #eee;
		color: $main-color-dark;
		font-size: 24px;
		text-align: center;

		@media (min-width: $screen-sm-min) {
			font-size: 36px;
			text-align: left;
		}
	}

	.no-pic-immobile {
		width: 100%;
		height: 200px;
		background-image: url('../images/no-pic.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #d5d5d5;

		@media (min-width: $screen-sm-min) {
			height: 400px;
		}
	}

	.slider-for, .slider-nav {

		.slick-prev, .slick-next {
			background-color: transparent;
			background-repeat: repeat-x;
			height: 100%;
			margin-top: 0;
			top: 0;
			opacity: .8;

			&:before {
				font-size: 30px;
				font-family: 'Glyphicons Halflings';
				text-shadow: 0 0 8px rgba(#000, .7);
			}

			&:hover {
				opacity: .8;
			}
		}

		.slick-prev {
			left: 0;

			&:before {
				content: "\e079";
			}
		}

		.slick-next {
			right: 0;

			&:before {
				content: "\e080";
			}
		}
	}

	.slider-for {
		margin-bottom: 15px;
		overflow: hidden;
		// border-radius: 6px;
		height: 200px;

		@media (min-width: $screen-sm-min) {
			height: 500px;
		}

		.slick-list {
			height: 100%;

			.slick-track {
				height: 100%;
			}
		}

		.slick-prev, .slick-next {
			width: 15%;

			-webkit-transition: margin .25s;
			-moz-transition: margin .25s;
			-ms-transition: margin .25s;
			-o-transition: margin .25s;
			transition: margin .25s;
		}

		.slick-prev {
			margin-left: -15%;
		}

		.slick-next {
			margin-right: -15%;
		}

		&:hover {
			.slick-next {
				margin-right: 0;
			}

			.slick-prev {
				margin-left: 0;
			}
		}

		$opacity: .4;
		.slick-prev {
			// background: linear-gradient(to left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, $opacity) 100%);

			&:before {
				margin-left: -40px;
			}
		}

		.slick-next {
			// background: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, $opacity) 100%);

			&:before {
				margin-right: -40px;
			}
		}

		.picture {
			height: 100%;
			width: auto;
			max-width: 100%;
			text-align: center;	
			position: relative;
			background-color: #666;

			div {
				width: 100%; 
				max-width: 100%;
				height: 100%;

				&.blurry {
					background-size: cover; 
					background-position: center; 
					opacity: .9;
					position: absolute;
					left: 0;
					top: 0;
					z-index: 1;
		
					@include blur(6px);
				}
		
				&.dark-cover {
					background-color: black;
					opacity: .2;
					position: absolute;
					left: 0;
					top: 0;
					z-index: 2;
				}
		
				&.clean {
					width: auto;
					position: relative;
					display: inline-block;
					z-index: 3;

					img {
						height: 100%;	
					}

					.watermark {
						width: 150px;
						height: 90px;
						background-image: url('../images/Gaia/logo2.png');
						background-position: center;
						background-size: contain;
						background-repeat: no-repeat;
						opacity: .5;
						position: absolute;
						right: 10px;
						bottom: 10px;
					}
				}
			}

			.text {
				width: 100%;
				height: auto;
				max-height: 80px;
				padding: 3px;
				background-color: rgba(#000, .5);
				color: white;
				position: absolute;
				z-index: 10;
				bottom: -100px;
				display: block;

				@include transition(bottom .5s);

				p {
					font-size: 14px;
				}
			}

			&:hover {
				.text {
					bottom: 0;
				}
			}
		}

	}

	.slider-nav {
		$height: 120px;
		$x: 4px;

		margin-bottom: 0;

		.slick-prev, .slick-next {
			width: 7%;
			height: $height + $x;
			margin: 8px 0 10px 0;
		}

		$opacity: .4;
		.slick-prev {
			background: linear-gradient(to left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, $opacity) 100%);

			&:before {
				margin-left: -5px;
			}
		}

		.slick-next {
			background: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, $opacity) 100%);

			&:before {
				margin-right: -5px;
			}
		}

		.thumb {
			-webkit-box-shadow: 0 0 5px rgba(#000, .5);
			-moz-box-shadow:    0 0 5px rgba(#000, .5);
			box-shadow:         0 0 5px rgba(#000, .5);			
			-webkit-transition: all .25s;
			-moz-transition:    all .25s;
			-ms-transition:     all .25s;
			-o-transition:      all .25s;
			transition:         all .25s;
			margin: 10px;

			&.slick-center {
				margin-top: 0;
				margin-bottom: 20px;
				-webkit-box-shadow: 0 10px 15px rgba(#000, .5);
				-moz-box-shadow:    0 10px 15px rgba(#000, .5);
				box-shadow:         0 10px 15px rgba(#000, .5);
			}

			.picture {
				height: $height;
				background-size: cover;
			}
		}	
	}

	.caracteristicas {
		// margin-top: 15px;
		padding: 15px 5px;

		border: 1px solid #ddd;
		border-left: none;
		border-right: none;

		> div {
			display: inline-block;
			width: (100% / 6);
			text-align: center;
			font-size: 14px;
			color: $main-color;

			i {
				display: block;
				font-size: 22px;
				margin-bottom: 10px;
			}
		}
	}

	#price {
		// background-color: $main-color-dark;
		// padding: 5px 10px;
		font-size: 14px;
		// color: white;

		// border: 1px solid $main-color;

		ul {
			margin: 0;

			li {
				margin: 5px 0;
	
				&:first-child {
					font-size: 18px;
					margin-top: 0;
					margin-bottom: 15px;
				}
	
				&:last-child {
					margin-bottom: 0;
				}

				&.info {
					margin-top: 30px;
					font-size: 12px;
				}
			}
		}
	}

	.tab-description, .tab-price {
		.tab-content {
			min-height: calc(100% - 41px);
		}
	}

	.tab-description, .tab-map, .tab-interest, .tab-price {
		ul.nav.nav-tabs {
			// border-color: $main-color;

			li {
				a {
					font-size: 14px;
				}
			}

			li.active a {
				// border-color: $main-color;
				// border-bottom-color: transparent;
			}
		}

		.tab-content {
			border: 1px solid #ddd;
			border-top: none;
			padding: 15px;
		}
	}

	.form-interesse {
		height: 400px;
		
		h3 {
			margin-top: 0;
			text-align: center;
			color: $main-color;
			margin-bottom: 25px;
		}

		textarea {
			height: 170px;
			min-height: 170px;	
			max-height: 170px;	
		}

		button {
			opacity: .9;
			margin-top: 35px;
		}
	}

	#map, #street  {
		width: 100%;
		height: 400px;
		position: relative;

		.angular-google-map-container, .angular-google-map-street-view-panorama {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}
	}

	.no-map {
		background-image: url('../images/no-map.png');
	}

	.no-street {
		background-image: url('../images/no-street.jpg');
	}

	.no-map, .no-street {
		width: 100%;
		height: 400px;
		position: relative;
		text-align: center;

		.cover {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(#000, .3);
		}

		.info {
			width: 350px;
			height: 100px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;	
			margin: auto;
			color: white;
			text-shadow: 0 0 3px rgba(#000, .5);
		}
	}
}

.table-immobile {
	$radius: 6px;

	> thead {
		> tr {
			> th {
				color: $main-color;
				border-color: transparent;
				font-size: 18px;
			}
		}
	}

	> tbody {
		> tr {
			> td {
				border-color: transparent;
				padding-left: 15px;

				i.fa.fa-check {
					color: $brand-success;
					margin-right: 5px;
				}
			}
		}
	}
}
