.footer.clearfix
	.container
		.row
			.hidden-xs.hidden-sm.col-md-3
				.logo
			.col-xs-12.col-md-9
				ul.info
					li
						a(href='') Institucional
						ul.links
							li
								a(href='/') Home
							li
								a(href='/sobre') Sobre
							li
								a(href='/imoveis') Imóveis
							li
								a(href='/mapa') Mapa
							li
								a(href='/contato') Contato
					li
						a(href='/contato') Contato
						ul.links
							li
								i.fa.fa-phone
								span (21) 2742-1516
							li
								i.fa.fa-phone
								span (21) 2742-0295
							li
								i.fa.fa-envelope-o
								span gaia@gaia.adm.br
							li
								i.fa.fa-facebook-official
								a(href='https://www.facebook.com/Gaia-Administradora-123745358404256/')
									| Gaia Administradora
					li
						p Endereço
						ul.links
							li
								| Av. Delfim Moreira, 168 - Sobrado
							li 
								| Teresópolis - Rio de Janeiro
							li 
								| 25953-232

	.futura
		i.futura-cubo
		a(href='http://www.futuraagencia.com.br/' target='_blank')
			| Futura Agência - 2017