#link-icons.container.offset-top-60.offset-botom-60
	.row
		.col-xs-12.col-sm-4.text-center.offset-top-30.offset-bottom-30
			a(href='/sobre')
				i.icon-xlg.fa.fa-handshake-o
				h3.text-md.text-light Locação
				p.text-sm.text-gray Locação de imóveis.
		.col-xs-12.col-sm-4.text-center.offset-top-30.offset-bottom-30
			a(href='/sobre')
				i.icon-xlg.fa.fa-home
				h3.text-md.text-light Venda
				p.text-sm.text-gray Venda de imóveis.
		.col-xs-12.col-sm-4.text-center.offset-top-30.offset-bottom-30
			a(href='/sobre')
				i.icon-xlg.fa.fa-building-o
				h3.text-md.text-light Administração
				p.text-sm.text-gray Administração de condomínios.