// Cards Carousel
card-carousel(carousel-id='sliding-cards' name='Destaques' interval='5000' cards='home.featuredList' target='_blank')

// Circle Icons
.offset-top-90(ng-include='\'partials/link-icons.html\'')

// Card Grid
card-grid(cards='home.lastOnes' name='Recém cadastrados' target='_blank')