.page-header(style='background-image: url("../images/Gaia/fundo-sobre.jpg")')
	.dark-layer
		.container
			.row
				.col-xs-12
					h1.text-xlg Sobre a Empresa
			.row.hidden-xs.offset-top-30
				.col-sm-6
					p.text-sm
						a(href='/home') Home
						b &nbsp;/&nbsp;Sobre

.container
	.row.offset-top-60.offset-bottom-60
		.col-xs-12

			div
				h2.offset-bottom-30 Nossos serviços
				p.text-sm.text-gray.offset-bottom-15.text-line-spacing
					| A Gaia Administradora preza pelo compromisso com nossos clientes. O que traduz a presteza, pontualidade em nossos pagamentos e confiabilidade.

			.hidden-xs.offset-top-30(ng-include='\'partials/link-icons.html\'')

			.offset-top-30
				h2.offset-bottom-30 O diferencial
				p.text-sm.text-gray.offset-bottom-15.text-line-spacing
					| A Gaia Administradora tem como finalidade administrar o patrimônio de seus clientes, bem como os encargos (água, condomínio, imposto predial, etc.), fazendo assim com que nossos clientes deixem a preocupação e a obrigação de manter a vida do seu imóvel em dia com a Gaia.
				p.text-sm.text-gray.offset-bottom-15.text-line-spacing
					| Na área de administração de condomínios nossa empresa conta com um suporte contábil para melhor atender e manter todos os encargos sociais e trabalhistas sempre em dia e atento nas mudanças legais.

card-carousel.offset-top-60(carousel-id='sliding-cards' name='Veja também' interval='5000' cards='sobre.array' ng-if='sobre.array.length')